html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header { 
  height: 200px;
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  justify-items: center;
}

main {
  height: 100%;
  background: rgb(240, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#board > button {
  height: 165px;
  width: 165px;
  border: 1px solid gray;
  font-size: 60px;
}

#board > button:hover {
  backdrop-filter: brightness(80%);
}
